@import '../src/fn';

$N: 500;
$M: 4;

$lst: (1, 2, 3, 4);
@for $i from 0 to $M {
    $lst: join($lst, $lst);
}

@warn 'List size: #{length($lst)}';
$lst: L($lst...);

@for $i from 0 to $N {
    $a: lst-to-array($lst);
}
